# HTTP
HTTP_PORT=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=auth
POSTGRES_SSLMODE=

# Redis
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=

# Email code TTL
EMAIL_CODE_TTL=

# Downstream services
PROFILE_SERVICE_URL=
